/* .swiper-slide-custom {
    width: 40% !important;
    transition: all 0.3s ease-in-out;
}

.swiper-slide-active {
    width: 60% !important;
} */
.swiper-button-next,
.swiper-button-prev {
    padding: 20px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(6px);
    box-shadow: 0px 6px 9.4px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* Optionally, increase size */
.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 20px !important;
}

@media (max-width: 640px) {

    .swiper-button-next,
    .swiper-button-prev {
        display: none !important;
    }
}

/* //////////wrappper-B3/////////// */
.blog1rdimg{
    background-image: url('../../../public/images/blog/img1.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.blog2rdimg{
    background-image: url('../../../public/images/blog/img2.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.blog3rdimg{
    background-image: url('../../../public/images/blog/img3.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}