.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: "prev";
    background-color: rgb(219, 219, 219);
    color: #000;
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 50%;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-next:after {
    content: "next";
    background-color: rgb(219, 219, 219);
    color: #000;
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 50%;
}
.swiper-pagination-bullet-active{
    background-color: white;
}
@media (min-width: 1200px) {
  .swiper-wrapper{
    height: 80vh !important;
  }
}

@media (min-width: 768px) {
  .swiper-wrapper{
    height: 70vh !important;
  }
}

@media (max-width: 576px) {
   
  .swiper-wrapper{
    height: 50vh !important;
  }
  
  }
  