@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Marcellus&display=swap");
@import "tailwindcss";

@utility container {
  margin: auto;
}

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

:root {
  --background: #f8f8f8;
  --foreground: #171717;
  --primary: #989898;
  --body: #090b0c;
  --secondary: #ffffff;
  --whitecolor: #ffffff;
  --text: #737373;
  /* #B8B8B8 */
  --backgorund: #1a2b48;
  --accent: #000000;
  --border: #e4e6e8;
  /* global font  */
  --font-inter: "Inter", "sans-serif";
  --font-manrope: "Manrope", "sans-serif";
  --font-marcellus: "Marcellus", "serif";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #f8f8f8;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden !important;
}

.mainHead {
  font-size: 64px !important;
  line-height: 78px !important;
  font-family: var(--font-marcellus);
}

h1 {
  font-size: 48px !important;
  line-height: 52.8px !important;
  font-family: var(--font-marcellus);
}
h2 {
  /* font-family: Marcellus; */
  font-family: var(--font-marcellus);
  font-weight: 400;
  font-size: 32px;
  /* line-height: 100%; */
  /* letter-spacing: 0%; */
}
h3 {
  font-size: 24px !important;
  line-height: 24.8px !important;
  font-family: var(--font-inter);
}

h4 {
  font-size: 18px !important;
  line-height: 28px !important;
  font-family: var(--font-manrope);
}

h5 {
  font-size: 16px !important;
  line-height: 22.4px !important;
  font-family: var(--font-manrope);
}

p {
  font-size: 16px;
  font-family: var(--font-manrope);
  color: var(--text);
  line-height: 26px;
}

button {
  font-family: var(--font-inter);
  background-color: var(--backgorund);
  color: white;
  border-radius: 9999px;
  padding: 8px 20px;
  transition: all 0.3s ease-in-out;
}

.textColor {
  color: var(--text);
}

.textColor2 {
  color: var(--backgorund);
}

.border-color {
  border-color: var(--border);
}

.secondary-backColor {
  background-color: var(--secondary);
}

.font-marcellus {
  font-family: var(--font-marcellus);
}

.font-manrope {
  font-family: var(--font-manrope);
}

.text-black {
  color: black !important;
}

@media (max-width: 1200px) {
  .mainHead {
    font-size: 48px !important;
    line-height: 64px !important;
  }

  h1 {
    font-size: 38px !important;
    line-height: 42.8px !important;
  }
  h2 {
    font-size: 32px;

  }
  h3 {
    font-size: 18px !important;
    line-height: 28px !important;
  }

  /* p{
    font-size: ;
  } */
}

@media (max-width: 992px) {
  h1 {
    font-size: 33px !important;
    line-height: 38.8px !important;
  }

  .mainHead {
    font-size: 36px !important;
    line-height: 52px !important;
  }

  h3 {
    font-size: 15px !important;
    line-height: 23px !important;
  }
}

@media (max-width: 768px) {
  .mainHead {
    font-size: 32px !important;
    line-height: 42px !important;
  }

  h1 {
    font-size: 24px !important;
    line-height: 32px !important;
  }

  h3 {
    font-size: 13px !important;
    line-height: 23px !important;
  }

  p {
    font-size: 14px;
    line-height: 18px;
  }
}

@media (max-width: 576px) {
  .mainHead {
    font-size: 28px !important;
    line-height: 32px !important;
  }
.swiper-wrapper{
  height: 40vh !important;
}

}
