.Banner{
    background-image: url('../../public/images/bannerimg1.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: aqua; */
}